{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}InvoxiaGST{% endblock %}</title>
    {% include 'partials/head_start.html' %}
    {% include 'partials/head_end.html' %}
    {% block extra_head %}{% endblock %}
</head>

<body class="ix">
    {% include 'partials/app_header.html' %}
    <main class="ix-main">
        <div class="container-xl" style="max-width: var(--content-width);">
            {% block content %}{% endblock %}
        </div>
    </main>
    {% include 'partials/body_end.html' with ix_load_bootstrap=True %}
    {% block extra_js %}{% endblock %}
</body>

</html>
